<!-- facebook like stuff -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.3&appId=179274055481335";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- whats app share -->
<script type="text/javascript">if(typeof wabtn4fg==="undefined"){wabtn4fg=1;h=document.head||document.getElementsByTagName("head")[0],s=document.createElement("script");s.type="text/javascript";s.src="https://s3.amazonaws.com/mixtapeify/images/whatsapp-button.js";h.appendChild(s);}</script>

<!-- About --> 
    <section id="three" class="wrapper style3 special">
      <div class="inner">
        <header class="major">
          <h2>About SPOTIHUNT</h2>
          <p>Spotihunt is made in Switzerland and Ukrainia by @mathiasmenzl and Yaroslav (do you have a Twitter-Handle?)</p>
        </header>
        <ul class="features">
          <li class="icon fa-paper-plane-o">
            <h3>In a nutshell</h3>
            <p>Spotify is the greates streaming-service. But it has one major pain-point: Spotify is bad in curating. That's why we build SPOTIHUNT.</p>
            <p>If you think we could do better (what we very likely could) we appreciate your feedback and inputs. Please send us an <a href="mailto:spotihunt@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a> or get in contact via <a href="https://twitter.com/Spotihunt" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a> or <a href="https://www.facebook.com/pages/Spotihunt/380194025503161?fref=ts" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a>. 
            </p>
            <p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="KY2355BYJAHJS">
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1"></form>
            </p>
          </li>
          <li class="icon fa-laptop">
            <h3>SPOTIHUNT Newsletter</h3>
            <p>Death to bad music ist our weekly SPOTIHUNT-Newsletter. If you want to get a weekly dose of good music straignt in your inbox, subscribe right here:</p>
            <form style="border:5px solid #ccc;padding:10px;text-align:center;" action="https://tinyletter.com/Spotihunt" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/Spotihunt', 'popupwindow', 'scrollbars=yes,width=auto,height=auto');return true"><p><label for="tlemail">Enter your email address</label></p><p><input type="text" style="width:100" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank"></a></p></form>
          </li>
          <li class="icon fa-code">
            <h3>Rails</h3>
            <p>SPOTIHUNT is a Web-App based on Ruby on Rails.</p>
          </li>
          <li class="icon fa-headphones">
            <h3>Music</h3>
            <p>SPOTIHUNT is made by and for music-lovers. </p>
          </li>
          <li class="icon fa-heart-o">
            <h3>Spread</h3>
            <p>If you like SPOTIHUNT, please spread the word.</p>
            <a href="whatsapp://send" data-text="Take a look at this awesome website:" data-href="http://spotihunt.com" class="wa_btn wa_btn_s" style="display:none">Share</a></p>
        
         
                <div class="fb-like" data-href="https://facebook.com/spotihunt" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div><br>

                <p><a href="https://twitter.com/intent/tweet?button_hashtag=Spotihunt&text=Hunt%20your%20favorite%20music%20on%20%23SPOTIHUNT" class="twitter-hashtag-button" data-size="small" data-related="Spotihunt" data-url="http://spotihunt.com">Tweet #Spotihunt</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>

        
                 <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="757SKFZPZERVS">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                     <span class="label"></span></a>
           
        </p>
           </li>
          <li class="icon fa-flag-o">
            <h3>Thank Yous</h3>
            <p>Beautiful Imagery by courtesy of <a href="https://unsplash.com/" target="_blank">unsplash.com</a></p>
            <p>Beautiful design by courtesy of <a href="http://html5up.net/spectral" target="_blank">html5up.net</a></p>
          </li>
        </ul>
      </div>
    </section> 



























<!-- Page Content 
    <div class="container">
-->
        <!-- Jumbotron Header 
        <header class="jumbotron hero-spacer">
            <h1>Musiclover!</h1>
            <p>SPOTIHUNT is all about your favorite Spotify-playlists and records. Post your gems and hunts to other music lovers out there. Get feedback and upvotes on your taste and earn fame for your taste.</p>
            <p><a class="btn btn-primary" href="/users/auth/spotify" role="button" >Sign Up with your Spotify-Account</a>

			<p><a class="btn btn-info" href="/statuses" role="button" >Wait, Mr. Fancy Pants, show some HUNTS first</a>
        </header>


<hr> -->

        <!-- Title 
        <div class="row">
            <div class="col-lg-12">
                <h3>Latest Infos and News</h3>
            </div>
        </div>
        /.row -->

        <!-- Page Features 
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%=image_tag("headphones_final.png", alt: "I want to be a SPOTIHUNT Curator")%>
                    <div class="caption">
                        <h3>Curators</h3>
                        <p>We're looking for permanent curators. If you think of yourself as a music-afficionado, please get in touch.</p>
                        <p>
                             <a href="mailto:curator@spotihunt.com" class="btn btn-default">I wanna be a Curator...</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%=image_tag("improvements_final.png", alt: "Improvements")%>
                    <div class="caption">
                        <h3>Improvements</h3>
                        <p>We're happy to improve SPOTIHUNT. Please drop us a line and tell us what you miss!</p>
                        <p>
                             <a href="#" class="btn btn-default">You could do better with...</a>
                        </p>
                    </div>
                </div>
            </div>

            

        </div> -->
        <!-- /.row -->

