<article id="main">
  <header>
    <h2>Edit Hunt</h2>
  </header>
  <section class="wrapper style5">
    <div class="inner">
      <section>
        <%= render 'form' %>
      </section>
      <section>
        <%= link_to 'Show', @status %> |
        <%= link_to 'Back', statuses_path %>
      </section>
    </div>
  </section>
</article>
