<div class="page-header">
  <h1>All Hunts
  <%= link_to "Post a new Hunt", new_status_path, class: "btn btn-small btn-primary" %>
</h1>
</div>



<% @statuses.each do |status| %>
  <div class="status-<%=status.id%>-container">
    <%= render status %>
  </div>
<% end %>

<%= will_paginate @statuses %>
