// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.status p {
	margin: 4px 0;
}

.status.hover {
	background: #FAFAFA;
}

.status .admin {
	display: none;
}

.status.hover .admin {
	display: inline;
}

.page-header { position: relative; }
.reviews {
    color: #555;    
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object { max-width: 120px; }
.media-body { position: relative; }
.media-date { 
    position: absolute; 
    right: 25px;
    top: 0;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before { 
    content: '.'; 
    margin-left: -2px; 
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; }
.media-replied { margin: 0 0 20px 50px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

form#commentForm .comment-input{
  margin-bottom: 20px;
}

@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

$size : 10rem;
$border-width : .5rem;
$radius : 1rem; /* try 50% */
$transition : .3s;

$bg : #FFFFFF;
$green : #4BC35F;
$red : #C15044;


.roundrect {
  .up { border-radius: 2rem 2rem 0 0; }
  .down { border-radius: 0 0 2rem 2rem; }
  .count { border-radius: .5rem .5rem; }
}
.chev {
  .up { border-radius: 50% 50% 0 0; }
  .down { border-radius: 0 0 50% 50%; }
  .count { border-radius: 100%/50%; }
}

.circle {
  .up { border-radius: $size $size 0 0; }
  .down { border-radius: 0 0 $size $size; }
  .count { border-radius: 50%; }
}

.vote {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans";
  position: relative;
  width: $size;
  height: $size;
  margin: 1rem;
}

.increment {
  flex: 1 0 0;
  text-align: center;
  opacity: .5;
  transition: $transition;
  cursor: pointer;
  
  &.up {
    background: $green;
    height: 50%;
    margin-bottom: $border-width/2;
  }
  &.down {
    background: $red;
    height: 50%;
  }
  
  &:hover {
    opacity: 1;    
  }
}

.count {
  position: absolute;
  top: 0;
  border-radius: $radius*.1;
  margin: $size*.25;
  background: $bg;
  width: $size*.5;
  font-size: $size*.25;
  font-weight: bold;
  line-height: $size*.5;
  text-align: center;
  box-shadow: 0 0 0 $border-width $bg;
  pointer-events: none;
  
  &.upvoted { color: $green; }
  &.downvoted { color: $red; }
}

.bump {
  animation: bump 200ms;
}

@keyframes bump {
  30% { transform: scale(1.2); }
}

// * { box-sizing: border-box; }
// html, body { height: 100%; }
// body { 
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: $bg;
// }