// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.status {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.status p {
	margin: 4px 0;
}

.status.hover {
	background: #FAFAFA;
}

.status .admin {
	display: none;
}

.status.hover .admin {
	display: inline;
}

.page-header { position: relative; }
.reviews {
    color: #555;    
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object { max-width: 120px; }
.media-body { position: relative; }
.media-date { 
    position: absolute; 
    right: 25px;
    top: 0;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before { 
    content: '.'; 
    margin-left: -2px; 
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; }
.media-replied { margin: 0 0 20px 50px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0 0 40px;
}

form#commentForm .comment-input{
  margin-bottom: 20px;
}

@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

$size : 5rem;
$border-width : .5rem;
$radius : 1rem; /* try 50% */
$transition : .3s;

$bg : #FFFFFF;
$green : #4BC35F;
$red : #C15044;


.roundrect {
  .up { border-radius: 2rem 2rem 0 0; }
  .down { border-radius: 0 0 2rem 2rem; }
  .count { border-radius: .5rem .5rem; }
}
.chev {
  .up { border-radius: 50% 50% 0 0; }
  .down { border-radius: 0 0 50% 50%; }
  .count { border-radius: 100%/50%; }
}

.circle {
  .up { border-radius: $size $size 0 0; }
  .down { border-radius: 0 0 $size $size; }
  .count { border-radius: 50%; }
}

.vote {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans";
  position: relative;
  width: $size;
  height: $size;
  margin: 1rem;
}

.increment {
  flex: 1 0 0;
  text-align: center;
  opacity: .5;
  transition: $transition;
  cursor: pointer;
  
  &.up {
    background: $green;
    height: 50%;
    margin-bottom: $border-width/2;
  }
  &.down {
    background: $red;
    height: 50%;
  }
  
  &:hover {
    opacity: 1;    
  }
}

.count {
  position: absolute;
  top: 0;
  border-radius: $radius*.1;
  margin: $size*.25;
  background: $bg;
  width: $size*.5;
  font-size: $size*.25;
  font-weight: bold;
  line-height: $size*.5;
  text-align: center;
  box-shadow: 0 0 0 $border-width $bg;
  pointer-events: none;
  
  &.upvoted { color: $green; }
  &.downvoted { color: $red; }
}

.bump {
  animation: bump 200ms;
}

@keyframes bump {
  30% { transform: scale(1.2); }
}

// * { box-sizing: border-box; }
// html, body { height: 100%; }
// body { 
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: $bg;
// }
// 


/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
  background-color: #F56505;
}
.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
  background-color:#33ccff;
}
.social-network a.icoWhatsapp:hover {
  background-color:#5cbe4a;
}
.social-network a.icoVimeo:hover {
  background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
  background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
 background-color: #D3D3D3;   
}

.hidden{
  display: none;
}

.social-media-panel{
  margin-top: 60px;
}